<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<%= link_to "Home", pages_main_path %>
			</li>	
			<li>
				<%= link_to "Studio Focus", pages_studio_focus_path %>
			</li>	
			<li>
				<%= link_to "Artists", pages_artists_path %>
			</li>
				<li>
				<%= link_to "Contact Us", pages_contact_path %>
			</li>
			<li>
				<%= link_to "Equipment", pages_equipment_path %>
			</li>
			<li>
				<%= link_to "Artist Feedback", pages_feedback_path %>
			</li>
			<li>
				<%= link_to "Links", pages_links_path %>
			</li>
			<li>
				<%= link_to "Photos", pages_photos_path %>
			</li>
			<li>
				<%= link_to "Studio Rates", pages_studio_rates_path %>
			</li>
			<li>
				<%= link_to "Onsite Rates", pages_onsite_rates_path %>
			</li>
		</ul>
	</div>
</div>
