<!DOCTYPE html>
<html>
<head>
  <title>Underbrush</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="offset1">
	<%= render 'layouts/logo' %>
</div>
<div class="container span11 offset1">
	<%= render 'layouts/header' %>
	<div class="row offset1">
		<%= yield %>
	</div>
</div>
<div class="span12 offset1">
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
